<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.min.css') }}" />
    <title>Movie Recommendation System</title>
  </head>

  <body style="width: 100%">
    <h1>Automatic Movie Recommendation System</h1>

    <!-- Main Input For Receiving Query to our ML -->
    <div class="form">
      <form action="{{ url_for('recommend_movies')}}" method="post">
        <input
          type="number"
          name="Target_user_id"
          placeholder="Target_user_id"
          required
          aria-required="true"
          min="1"
          max="943"
        />

        <button type="submit" class="btn btn-primary btn-block btn-large">
          Recommend Movies
        </button>
      </form>
    </div>
    <div class="output">{{ prediction_text }}</div>
  </body>
</html>
